
.breadcrumbs {
    display: flex;

    &__list {
        display: flex;
    }

    &__item {
        font-size: 14px;
        color: $paleSky;
        padding-right: 12px;
        position: relative;
        list-style-type: none;

        &::after {
            content: "/";
            position: absolute;
            right: 3px;
        }

        &:last-child {
            color: $blackRussian;
            &::after {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;
    }
}