
.breadcrumbs {
    display: flex;
    margin-bottom: 20px;

    &__list {
        display: flex;
    }

    &__item {
        color: $paleSky;
        padding-right: rem(12px);
        position: relative;
        
        &::after {
            content: "/";
            position: absolute;
            top: 0;
            right: rem(3px);
        }

        &:last-child {
            color: $blackRussian;
            
            &::after {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;
    }
}