.buy-buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: rem(50px);
      border-radius: rem(39px);
    }

    &__buy {
        width: rem(188px);
    }

    &__tryfree {
        padding: 0 rem(17px);
        margin-left: rem(15px);
    }
}