
.course {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: rem(800px);
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: rem(10px);
    border-left: rem(8px) solid $pictonBlue;
    box-shadow: 0px rem(6px) rem(20px) rgba(0, 0, 0, 0.12);
    margin-bottom: rem(33px);

    &__left {
        max-width: rem(450px);
        width: 100%;
        padding: rem(25px) rem(14px) rem(42px) rem(25px);
    }

    &__right {
        max-width: rem(350px);
        width: 100%;
        height: auto;
        padding: rem(11px) rem(9px);
        background-image: url(../images/coach.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        background-color: #EFEFEF;
        border-radius: rem(10px);
    }

    &__icon {
        width: rem(42px);
        height: rem(42px);
        background-color: $blackRussian;
        border-radius: rem(5px);
        background-image: url(../images/course-icons/2.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: rem(6px);
    }

    &__skill-1 {
        cursor: pointer;
        background-image: url(../images/course-icons/1.svg);
    }

    &__skill-2 {
        background-image: url(../images/course-icons/2.png);
    }

    &__skill-3 {
        background-image: url(../images/course-icons/3.png);
    }

    &__skill-4 {
        background-image: url(../images/course-icons/4.png);
    }

    &__skill-5 {
        background-image: url(../images/course-icons/5.png);
    }

    span {
        display: block;
    }

    &__title {
        font-family: $font-family-bold;
        font-size: $font-size-large;
        margin: 0 0 rem(6px);
        line-height: 1.2
        ;

        span {
            margin-bottom: rem(5px);
        }
    }

    &__text {
        font-size: $font-size-normal;
        color: $doveGray;
        margin-bottom: 25px;
    }

    &__offer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: rem(20px);

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            font-family: $font-family-medium;
            font-size: rem(40px);
            padding-left: rem(43px);
            margin-bottom: rem(10px);

            &::before {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: rem(11px);
                left: 0px;
                width: rem(32px);
                height: rem(32px);
                font-size: 22px;
                font-weight: 500;
                border-radius: 50%;
                color: $mirage;
            }
        }

        span {
          display: block;
          margin-left: rem(10px);
          color: $doveGray;
          font-size: rem(14px);
      }
    }

    &__price {
        width: 100%;
        
        &::before {
            content: "₽";
            background-color: $sunglow;
        }

        span {
            font-size: rem(40px);
            color: $blackRussian;
        }

        span:last-child {
            margin-left: rem(10px);
            width: rem(83px);
            color: $doveGray;
            font-size: rem(14px);
        }

    }

    &__lessons {
        span {
            width: rem(49px);
            color: $blackRussian;
        }

        &::before {
            content: '';
            background-image: url('../images/1.png');
            background-position: center;
            background-repeat: no-repeat;
            background-color: $pictonBlue;
        }
    }

    &__tests {
        margin-right: rem(30px);
        span {
            width: rem(80px);
            color: $blackRussian;
        }

        &::before {
            content: '';
            background-image: url('../images/2.png');
            background-position: center;
            background-repeat: no-repeat;
            background-color: $pictonBlue;
        }
    }

    &__buy {
        background-color: $pictonBlue;
        color: white;
    }

    &__tryfree {
        background-color: white;
        color: $pictonBlue;
        border: 2px solid $pictonBlue;
    }
}