.features {
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: rem(10px);
    border-left: rem(8px) solid $sunglow;
    box-shadow: 0px rem(6px) rem(20px) rgba(0, 0, 0, 0.12);
    margin-bottom: rem(33px);
    padding: rem(35px) 0px rem(21px) 0px;
    
    &__title {
        font-size: $font-size-title;
        font-family: $font-family-bold;
        margin-bottom: rem(14px);
        padding: 0 rem(14px) 0 rem(25px);
    }
    
    &__text {
        color: $martinique;
        margin-bottom: rem(14px);
        padding: 0 rem(14px) 0 rem(25px);
    }

    &__slogan {
        font-size: $font-size-medium;
        font-family: $font-family-bold;
        color: $martinique;
        text-align: center;
        padding: rem(17px);
        margin-bottom: rem(16px);
        background-color: $sunglow;
    }

    &__items {
        padding: 0 rem(14px) 0 rem(25px);
        margin-bottom: rem(19px);

        li {
            position: relative;
            color: $martinique;
            margin-bottom: rem(4px);
            padding-left: rem(30px);
            
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: rem(18px);
                height: rem(13px);
                background-image: url("../images/icons/feature-icon.svg");
                background-repeat: no-repeat;
                background-position: top left;
                background-size: cover;
            }
        }
    }

    &__buy {
        background-color: $sunglow;
        color: $mirage;
    }

    &__tryfree {
        background-color: white;
        color: $mirage;
        border: rem(2px) solid $sunglow;
    }
}