
.footer {
    padding: rem(65px) 0;
    background: linear-gradient(180deg, rgba(0, 2, 32, 0) 0%, #000220 100%), #000220;
    
    @media ($screen-large) {
        padding: rem(30px) 0;
    }


    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media ($screen-large) {
            justify-content: space-around;
       }
    }

    &__column {
        padding: 0 15px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    &__logo {
        display: block;
        min-height: rem(35px);
        margin-bottom: rem(47px);

        img {
            height: 100%;
        }
    }

    &__info {

        max-width: rem(180px);

        li { 
            font-size: 15px;
            color: $stormGray;
            margin-bottom: rem(15px);
        }

    }

    &__column-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: rem(35px);
        margin-bottom: rem(47px);
    }

    &__enter {
        font-size: $font-size-normal;
        color: $stormGray;
    }

    &__pay {
        margin-left: rem(20px);
        font-size: $font-size-normal;
        color: $stormGray;
    }

    &__link {
        margin-bottom: rem(15px);
        font-size: $font-size-normal;
        color: white;
    }

    &__contact {
        position: relative;
        font-size: rem(17px);
        font-weight: 500;
        color: white;
        padding-left: rem(35px);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: rem(20px);
            height: rem(20px);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__tel {
        &::after {
            background-image: url('../images/footer-icons/phone.svg');
        }
    }

    &__mailto {
        &::after {
            background-image: url('../images/footer-icons/mailto.svg');
        }
    }

    &__img {
        margin: 0 auto rem(10px);
        max-width: rem(178px);
    }

    &__license-name {
        display: block;
        text-align: center;
        margin: 0 auto;
        max-width: rem(125px);
        font-size: $font-size-normal;
        color: $stormGray;
    }
}