.header {
    background: linear-gradient(180deg, rgba(0, 2, 32, 0) 0%, $blackRussian 100%), $blackRussian;
    margin-bottom: rem(30px);
    
    &__inner {
        height: rem(90px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__logo {
        margin-left: rem(19px);
    }

    &__progress {
        max-width: rem(150px);
        width: 100%;
        height: rem(50px);
        margin-left: auto;
        margin-right: rem(40px);
        color: $pictonBlue;
    }

    &__course-title {
        display: block;
        font-family: "Roboto-Medium", sans-serif;
        color: $pictonBlue;
        margin-bottom: rem(8px);
    }

    &__user {
        height: rem(50px);
        margin-right: rem(20px);
    }

    &__button {
        width: rem(134px);
        height: rem(50px);
        font-family: "Roboto-Medium", sans-serif;
        background-color: $mirage;
        border-radius: rem(39px);
        text-align: center;
        padding: rem(17px) rem(40px);
        color: white;
    }

    &__rating {
        margin-right: rem(20px);
    }
}