.play-button{
    width: rem(200px);
    height: 100%;
    margin: 0 auto 0;
  
    &__img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: rem(123px);
      height: rem(123px);
      border: 1px solid $sunglow;
      box-shadow: 0 0 0 0 rgba(90, 153, 220, 0.7), inset 0 1px 0 #98c4ec;
      border-radius: 100%;
      background-color: $sunglow;
      cursor: pointer;
      animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
      
      &:focus{
        box-shadow:0 0 0 23px rgba(81, 147, 218, 0), inset 0 1px 0 #9ec3e6;
      }
  
      &:hover{
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #6eace4), color-stop(100%, #4f93d4));
        background-image: -webkit-linear-gradient(#64a0d6, #3f86ca);
        background-image: linear-gradient(#ffdb2f, #cdb647);
        animation: pulse .6s infinite cubic-bezier(0.6, 0, 0, 1);
      
    }
    }
  }
    @keyframes pulse{
      to{
        box-shadow:0 0 0 rem(23px) rgba(81, 147, 218, 0), inset 0 1px 0 #f1f50b;
      }
    }