.socials {
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(45px);
        height: rem(45px);
        border-radius: rem(5px);
        background-color: $mirage;

        &:not(:first-child) {
            margin-left: rem(10px);
        }
    }
}