html {
    box-sizing: border-box;
    font-family: $font-family-custom;
    font-size: $font-size-base;
    line-height: $line-height-normal;
    background-color: white;
    color: $blackRussian;
    height: 100%;
  }
  
  *,
  *::after,
  *::before {
      box-sizing: inherit;
  }
  
  body {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
  }
  
  .left-menu {
    max-width: 390px;
    width: 100%;
  }

  main {
      flex-grow: 1;
      background-color: #fff;
  }

  .main__inner {
    display: flex;
    justify-content: space-between;
  }

  a {
      display: block;
      text-decoration: none;
      cursor: pointer;
  }
  
  ul {
      display: block;
      margin: 0;
      padding: 0;
  }

  li {
    list-style-type: none;
  }

  img {   
      object-fit: cover;
      height: 100%;
  }
  
  .container {
      max-width: $container-max;
      margin: $container-margin;
      padding: $container-padding;
  }

  .center {
      max-width: 810px;
      width: 100%;
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
  }