/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// Пример указания цветов

$blackRussian:      #000220;
$iron:              #E0E1E3;
$mirage:            #1F213B;   
$radicalRed:        #FF3A55;
$cerulean:          #07B3E8;
$pictonBlue:        #29B2E6;
$paleSky:           #6D7885;
$doveGray:          #666666;
$sunglow:           #FFDB2F;
$martinique:        #33354D;
$stormGray:         #6C6D84;
$wildSand:          #F4F4F4;
$silver:            #C4C4C4;

/**
* Fonts
*/
$font-size-base: 14px;
$font-family-custom: "Roboto-Regular";
$font-family-medium: 'Roboto-Medium';
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-path: '../fonts';

$font-size-huge: 30px;
$font-size-large: 26px;
$font-size-medium: 18px;
$font-size-title: 22px;
$font-size-normal: 15px;
$font-size-small: 14px;

$line-height-default: 1.7;
$line-height-normal: 1.4;
$line-height-small: 1.2;


/**
* Breakpoints
*/
// Пример указания медиазапросов, затем можно использовать ее как '@media #{$screen-medium} {...}'
$screen-small: 'min-width: 375px';
$screen-medium: 'min-width: 768px';
$screen-large: 'min-width: 992px';


/**
* Layout
*/
$container-padding: 0 15px;
$container-margin: 0 auto;
$container-max: 1250px;
$container-min: 375px;

$title-margin: 20px 0;

$margin-small: 5px;
$margin-normal: 10px;
$margin-large: 15px;
$margin-huge: 20px;

/**
* Sizes
*/


/**
* Transitions and Animations
*/



/**
* Radius
*/


/**
* Box-shadows
*/



/**
* Z-indexes
*/

